<div id="reviewStars-input">{{ stars }}
        <input id="star-0" type="radio" value="1" name="reviewStars"/>
        <input id="star-1" type="radio" value="2" name="reviewStars"/>
        <input id="star-2" type="radio" value="3" name="reviewStars"/>        
        <input id="star-3" type="radio" value="4" name="reviewStars"/>        
        <input id="star-4" type="radio" value="5" name="reviewStars"/>
        <!--<label title="gorgeous" for="star-4"></label>-->
        <!--<label title="good" for="star-3"></label>-->
        <!--<label title="regular" for="star-2"></label>-->
        <!--<label title="poor" for="star-1"></label>-->
        <!--<label title="bad" for="star-0"></label>-->
</div>  